@import "../../settings";

.aboutMeContainer {
  @extend %full-size;
  display: flex;
  position: relative;
  z-index: 0;
  flex-flow: column;

  @media (max-width: $mobile) {
    height: fit-content;
    flex-flow: column;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    font-family: $OSC;
    z-index: 1;
    text-shadow: 0 0 10px black;
    color: white;
    display: flex;
    height: 100px;
    width: 100%;

    p {
      margin: auto;
    }
  }


  .contentBox {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 615px;
    //align-self: flex-end;
    z-index: 1;

    @media (max-width: $mobile) {
      width: 100%;
      align-self: flex-start;
      margin: auto;
    }

    a, .portfolioImage {
      object-fit: contain;
      align-self: flex-end;
      transition: all 1s;

      @media (max-width: $mobile) {
        display: none;
      }
    }

    .content {
      width: 60%;
      //height: 50%;
      position: relative;
      align-self: flex-end;
      margin: auto;
      font-family: $OSC;
      font-size: 30px;
      text-align: center;
      box-shadow: 10px 10px 13px -5px rgba(0, 0, 0, 0.75);

      @media (max-height: $mobile) {
        font-size: 25px;
      }

      @media (max-width: $tablet) {
        font-size: 25px;
      }
      @media (max-width: $mobile) {
        width: 98%;
        font-size: 20px;
        align-self: flex-start;
        margin: 0 auto auto auto;
      }

    }
  }

}