@import "../../settings";

.aboutMeContainer {
  @extend %full-size;
  display: flex;
  background-color: white;
  justify-content: center;

  @media (max-width: $mobile) {
    height: fit-content;
    padding: 30px 0 50px 0;
    flex-flow: column;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    margin: 2% auto;
    font-family: $OSC;
  }

  .contentBox {
    display: flex;
    position: relative;
    width: 615px;
    align-self: flex-end;

    @media (max-width: $mobile) {
      width: 100%;
      align-self: flex-start;
      margin: auto;
    }


    .portfolioImage {
      object-fit: contain;
      align-self: flex-end;
      transition: all 1s;

      @media (max-width: $mobile) {
        display: none;
      }
    }

    .content {
      width: 60%;
      height: 50%;
      position: relative;
      align-self: flex-end;
      margin-bottom: 300px;
      font-family: $OSC;
      font-size: 30px;
      text-align: center;
      box-shadow: 10px 10px 13px -5px rgba(0,0,0,0.75);

      @media (max-height: $mobile) {
        font-size: 25px;
      }

      @media (max-width: $tablet) {
        font-size: 25px;
      }
      @media (max-width: $mobile) {
        width: 98%;
        font-size: 20px;
        align-self: flex-start;
        margin: 0 auto auto auto;
      }

    }
  }
}
