.projectsContainer {
  height: 100vh;
  overflow-y: scroll;
  margin-right: -100px;
  padding-right: 100px;

  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 150px;
  }
  .content {
    width: 80%;
    height: 100%;
    background-color: gold;
  }
}
