.projectsContainer {
  overflow-y: scroll;
  margin-right: -100px;
  padding-right: 100px;
  height: 100vh;

  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10vh;
  }
  .content {
    width: 100vw;

    div {
      width: 1000px;
      height: 300px;
      background-color: #f1f1f1;
      margin: 30px auto;
      display: flex;

      div {
        width: 500px;
        height: 300px;
        background-color: #f1f1f1;
        margin: 0;
        position: relative;

        img {
          position: absolute;
          left: 0;
          top: 22px;
          transition: all .8s;
        }

      }
      article {
        width: 500px;
        height: 300px;

        h2 {
          text-align: center;
        }
      }
    }
/*    div:hover div img {
      left: 25px;
    }*/
  }
}
