@import "../../settings";

.technologiesContainer {
  @extend %full-size;
  font-family: $OSC;
  display: flex;
  flex-flow: column;

  @media (max-width: 900px) {
    height: fit-content;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    margin: 2% auto;
  }


  .techDesc {
    width: 800px;
    font-size: 30px;
    background-color: blue;
    margin: 0 auto auto auto;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 8px 9px 13px -5px rgba(0,0,0,0.75);

    .cardBody {
      display: flex;

      @media (max-width: $tablet) {
        flex-flow: column;
      }


      .imagesInterior {
        display: flex;
        flex-flow: column;
        font-size: 15px;
        margin: auto;

        @media (max-width: $tablet) {
          flex-flow: row;
          margin: inherit;
        }

        .imageItem {
          text-align: center;
          margin: auto;
          opacity: 0;
          transition: all 1s;

          img {
            width: 80px;
            height: 80px;

            @media (max-width: $tablet) {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
      .listInterior {
        width: 600px;
        margin: auto;

        @media (max-width: $tablet) {
          width: 90%;
          margin: auto;
        }
        @media (max-width: $mobile) {
          width: 100%;
          font-size: 15px;
        }
      }
    }

    li {
      list-style-type: none;
    }

    @media (max-width: $tablet) {
      width: 95%;
      margin: 0 auto auto auto;
    }
  }
}




