@import "../../settings";

@font-face {
  font-family: "8-BIT WONDER";
  src: url("./fonts/8-BIT WONDER.TTF") format("truetype")
}

section {
  @extend %full-size;
}

.welcome {
  @extend %full-size;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-family: "8-BIT WONDER";

  .welcomeMsg {
    font-size: 2em;
    padding: 5%;
    color: white;

    @media (max-width: $tablet) {
      font-size: 1em;

    }
    @media (max-width: $mobile) {
      font-size: .6em;
    }

    p {
      overflow: hidden;
      border-right: .15em solid transparent;
      white-space: nowrap;
      margin: 0 auto;
      height: fit-content;
      letter-spacing: .15em;
      animation: typing 16s steps(40, end) infinite,
      blink-caret .75s step-end infinite
    }

    p:after {
      content: '';
      display: block;
      animation: change-letter 16s linear infinite;
    }
  }

  .arrow {
    position: absolute;
    bottom: 10%;
    font-size: 80px;
    font-weight: bold;
    transform: rotate(90deg);
    cursor: pointer;
    color: white;
    transition: all 1s;
    animation: bounce-arrow .5s alternate infinite;

    @media (max-width: $tablet) {
      font-size: 70px;

    }
    @media (max-width: $mobile) {
      font-size: 60px;
    }
  }

  .arrow:hover {
    color: gray;
  }
}

@keyframes change-letter {
  0% {
    content: "CODE WITH PASSION";
  }
  50% {
    content: "WEB DEVELOPMENT PRESTIGE";
  }
  100% {
    content: "WEB DEVELOPMENT PRESTIGE";
  }
}

@keyframes typing {
  0% {
    width: 0
  }
  7% {
    width: 100%
  }
  25% {
    width: 100%
  }
  25.00001% {
    width: 0
  }
  33% {
    width: 100%
  }
  100% {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: white;
  }
}

@keyframes bounce-arrow {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 8%;
  }
}