@import "../../settings";



.contactContainer {
  @extend %full-size;
  font-family: $OSC;
  display: flex;
  flex-flow: column;
  position: relative;
  top: -50px;

  @media (max-width: 800px) {
    top: 0;
  }

  header {
    font-size: 30px;
    font-weight: bold;
    margin: 2% auto;
    color: black;
    z-index: 1;

    @media (max-width: 800px) {
      margin-top: 50px;
    }
  }

}



/*
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/office.jpg");
  background-size: cover;
  opacity: .4;
}*/
