@import "./settings";

html, body {
  height:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media(max-width: $mobile) {
    overflow: auto;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/blank-business-composition-373076.jpg");
  background-size: cover;
  //opacity: .4;
  z-index: -1;
}

