$fa-font-path:'../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "./settings";


html, body {
  height:100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media(max-width: $mobile) {
    overflow: auto;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/office.jpg");
  background-size: cover;
  //opacity: .4;
  z-index: -1;
}


.welcome {
  display: none;

}
a.cmsButton {
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 3;
  display: block;

  @media screen and (max-width: 992px) {
    & {
      display: none;
    }
  }
}
a.cmsButton p {
  color: #222;
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  border: 2px solid gray;
  transition: all .5s;

  &:hover {
    background-color: #222;
    border: 2px solid black;
  }

  &:hover::before {
    color: white;
    transform: rotate(-90deg);
  }

  &::before {
    content: '\f0ad';
    display: block;
    @extend .fa;
    font-size: 50px;
    transition: all .2s;
  }
}


